<h1>Contact:</h1>

<h2><%= @contact.name %></h2>
<h2><%= @contact.address %></h2>
<h2><%= @contact.phone %></h2>
<h2><%= @contact.email %></h2>

<a href="/favourite/<%= @contact.id %>">Do Favourite</a>