<h1>Users:</h1>
<ul>
  <% @users.each do |user| %>
    
    <li> <%= "#{user.name} - " %> <%= "#{user.email}" %>
    <%= link_to("Edit", edit_user_path(user)) %>  
    <%= link_to("Create Product", new_user_product_path(user)) %>  
    </li>


  <% end %>
</ul>



<%= link_to("Add new user", new_user_path) %>
<br>
<%= link_to("Home", "/") %>
